.menu {
  width: 240px;
  padding: 6px;
  background: var(--color-dark);
  border: solid 1px var(--color-border);
  border-radius: 6px;
  box-shadow: var(--box-shadow);
  position: absolute;
  top: 56px;
  right: 0;
}
