.component {
  position: absolute;
  inset: 0 auto auto 0;
  z-index: 500;
}

.label {
  font-size: 14px;
  color: var(--color-text);
  padding: 8px 16px;
  background: var(--color-white);
  border: solid 1px var(--color-border);
  border-radius: 6px;
}
