.sidebar {
  max-width: 320px;
  width: 100%;
  height: 100%;
  border-right: 1px solid var(--color-border);
  background: var(--color-background);
  box-shadow: var(--box-shadow);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 500;
  transition: max-width 0.3s ease;
}

.sidebar.sidebarCollapsed {
  max-width: 90px;
}

.sidebarToggle {
  width: 24px;
  height: 24px;
  border-radius: 8px;
  cursor: pointer;
  background: var(--color-violet-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: -16px;
  z-index: 1;
  user-select: none;
  box-shadow: var(--box-shadow);
}

.sidebarToggleIcon {
  width: 16px;
  height: 16px;
  color: var(--color-violet-primary);
}

.logo {
  height: 48px;
  max-width: 320px;
  width: 100%;
  padding: 0 16px;
  margin: 16px 0;
  overflow: hidden;
  position: relative;
}

.logo.logoCollapsed {
  max-width: 90px;
}

.logoInner {
  width: 100%;
  height: 48px;
}

.logoDefault {
  height: 60px;
}

.logoSmall {
  width: 50px;

  svg {
    width: 100%;
    height: 60px;
  }
}

.logoLarge {
  svg {
    width: 100%;
    height: 60px;
  }
}

.sidebarList {
  height: calc(100% - 96px);
  overflow-y: auto;
  padding: 40px 8px 0;
  margin: 0;
  list-style: none;
}

.sidebarListItem {
}

.sidebarListItem + .sidebarListItem {
  margin-top: 8px;
}
